/* styles go here */
.label {
  display: block;
  margin-bottom: 10px;
}

.label:last-child {
  margin-bottom: 0;
}

.form-field {
  display: inline-block;
  margin-bottom: 10px;

}

.block {
  margin-bottom: 20px;
}
